using System;

class program{

public static void Main()
{
int i=20;

program p=new program();
int a=p.add(i); 
i=30;
Console.WriteLine(a);
Console.WriteLine(i);
}

public int add(int j)
{
return j+2;
}
}
